// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$primary: #696D7D;
$light-primary: #C8D5B9;
$dark-primary: #FAF3DD;
$accent: #8FC0A9;
$primary-text: #212121;
$secondary-text: #757575;
