.navbar-lewagon {
  justify-content: space-between;
  background: $accent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar {
  padding-right: 16px;
}
.navbar .fa-fort-awesome-alt:hover {
  color: $dark-primary;
}
.navbar .fa-fort-awesome-alt {
  color: $primary-text;
}
